$blue: #272d6b;
$yellow: #4a7fbc;
$black: #111111;
$white: #FFF;

$first: $blue;
$second: $yellow;

$primary-font: "Monstserrat";




$azul_claro: #396abf;
$azul_oscuro: #21283b;
$azul_mas_oscuro: #151b29;
$amarillo: #ffe800;
