@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdEx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ThCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ThCn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-XBlkCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-XBlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-HvEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-LtExO.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-MdIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLtExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLtExO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ThCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ThCnO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLtEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLtEx.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-It.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Blk.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLtCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLtCnO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-MdCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BlkCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Ex.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-HvIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-HvCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Cn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-MdCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-MdCnO.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdExO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Md.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdCnO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ThExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ThExO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BlkCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BlkCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-MdExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-MdExO.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-HvCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-HvExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-HvExO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdOu.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdOu.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BlkEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BlkEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BlkExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BlkExO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-LtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Hv.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BdCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-XBlkCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-XBlkCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Th.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ExO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ExO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-BlkIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLtIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ThIt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-UltLtCn.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-UltLtCn.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-CnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-CnO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-MdEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-MdEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-ThEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-ThEx.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtCnO.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-LtCnO.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/helvetica/HelveticaNeueLTPro-LtEx.woff2') format('woff2'),
        url('fonts/helvetica/HelveticaNeueLTPro-LtEx.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

