.blog-container{
	margin: 23px 10%;
	margin-top: 83px;
}
.image-blog{
	width:100%;
}
.btn-blog-text{
	position:relative;
	z-index: 99;
}

.blog-title, .blog-title a{
	color: #6a6a6a;
	font-size: 20px;
	font-weight: 700;
}

.media-content{
	margin-top: 25px;
    margin-bottom: 25px;
}

.fa-share-alt{
	color: #6a6a6a;
	margin-left: 10px;
}

.c-reading{
	color: #fc782a;
	font-size: 15px;
	font-weight: 600;
}

.the-content-blog{
	color: #6a6a6a;
}



