
  .historia_section h1:after{
        margin-left: -339px;
  }
  .historia_section h1{
        color:  #272d6b;
  }
  .proyectos{
    background: #272d6b;
  }
  .proyectos h1:after{
        margin-left: -258px;
  }


@media (max-width: 576px) { 
  .historia_section h1{
    font-size: 50px;
  }
  .historia_section h1:after{
        margin-left: -295px;
  }
  .table_edi{
        width: 100%;
  }
  .modal-dialog{
      width: 96% !important;
      max-width: 96% !important;
  }
  .tab_con_des{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}


@media (max-width: 768px) { 
  .table_edi{
        width: 85%;
  }
  .img_cont{
    display: none;
  }

  .contenedor_pisos img{
    width: 100%;
  }
}


@media (max-width: 992px) { 
    .nav-item{
    margin: 0 auto;
    margin-top: 2px;
    width: 100%;
  }
}



@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal-dialog{
      width: 98% !important;
      max-width: 98% !important;
  }
}


#myTab{
  }
  #myTab li a{
    color: white;
    background: #272d6b;
    font-weight: 600;
  }
  #myTab li a.active{
    color: #272d6b;
    background: #6493c6;
    font-weight: 600;
  }


  #demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }




  #especificaciones i{
    font-size: 20px;
    margin-right: 10px;
  }
  #especificaciones{
    color: #272d6b;
  }
  /*! CSS Used from: https://www.grupoinver.com.ar/style.css */
/*! @import https://www.grupoinver.com.ar/css/contenedor.css */
a{text-decoration:none;}
/*! end @import */
/*! CSS Used from: https://www.grupoinver.com.ar/css/interior.css */
*{padding:0;margin:0;outline:0;}
/*! CSS Used from: https://www.grupoinver.com.ar/style.css */
/*! @import https://www.grupoinver.com.ar/css/contenedor.css */
a{text-decoration:none;}
/*! end @import */
/*! CSS Used from: https://www.grupoinver.com.ar/style.css */
/*! @import https://www.grupoinver.com.ar/css/contenedor.css */
a{text-decoration:none;}
/*! end @import */
/*! CSS Used from: https://www.grupoinver.com.ar/style.css */
/*! @import https://www.grupoinver.com.ar/css/contenedor.css */
a{text-decoration:none;}
/*! end @import */
/*! CSS Used from: https://www.grupoinver.com.ar/css/menu-desaIX.css */
.desaIX2 li{list-style:none;}
.desaIX2 lu{list-style:none;}
.desaIX2 a{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu2.jpg);width:255px;height:48px;display:block;}
.desaIX2 a:hover{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu2-b.jpg);width:255px;height:48px;display:block;}
.desaIX3 li{list-style:none;}
.desaIX3 lu{list-style:none;}
.desaIX3 a{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu3.jpg);width:255px;height:19px;display:block;}
.desaIX3 a:hover{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu3-b.jpg);width:255px;height:19px;display:block;}
.desaIX4 li{list-style:none;}
.desaIX4 lu{list-style:none;}
.desaIX4 a{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu4.jpg);width:255px;height:254px;display:block;}
.desaIX4 a:hover{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu4-b.jpg);width:255px;height:254px;display:block;}
.desaIX5 li{list-style:none;}
.desaIX5 lu{list-style:none;}
.desaIX5 a{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu5.jpg);width:255px;height:19px;display:block;}
.desaIX5 a:hover{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu5-b.jpg);width:255px;height:19px;display:block;}
.desaIX6 li{list-style:none;}
.desaIX6 lu{list-style:none;}
.desaIX6 a{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu6.jpg);width:255px;height:30px;display:block;}
.desaIX6 a:hover{background-image:url(https://www.grupoinver.com.ar/desarrollista/edificios/desaIX/menu/menu6-b.jpg);width:255px;height:30px;display:block;}
/*! CSS Used from: https://www.grupoinver.com.ar/style.css */
/*! @import https://www.grupoinver.com.ar/css/contenedor.css */
a{text-decoration:none;}